.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  border: 2px solid #006DE6;
  margin: 10% 30%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255);
  text-align: center !important;
  padding: 2px;
}

input {
  width: 65%;
  height: 30px;
  border: 1px solid grey;
  margin: 2%;
  color: black;
}

 .bttn {
  background-color:  #006DE6;
  color: white;
  width: 67%;
  height: 30px;
  border: 1px solid rgb(255, 254, 254);
  margin: 2%;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.register {
  color:  #006DE6;
  font-size: 5ch;
  text-align: center;
}

.checkbox {
  width: 15% !important;
  height: 15px !important;
  float: center !important;
  
}  

span a {
  font-size: 12px !important;
  color: #006DE6 !important;
}
.header {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12;
}



